.body{
    background: gray;
    max-height:200px;
    width:1400px;

}
.new-member-form-memberlist{
 

    /* Modal / Basic */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 480px;
height: 175px;
left: calc(45% - 520px/2 + 117px);
top: 170px;

/* Gray / gray-1 */
background: #FFFFFF;
/* Elevation */
box-shadow: 0px 16px 13.3px 4px rgba(0, 0, 0, 0.25), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
border-radius: 2px;

}
.form-footer-memberlist{
    display:flex;
    flex-direction: row;
    box-sizing: border-box;

/* Auto layout */
justify-content: right;
padding-right:27px;
padding-top:5px;
margin-bottom:-50px;

gap: 10px;

width: 480px;


/* Gray / gray-5

Border
*/
border-top: 1px solid #D9D9D9;

}
.form-header-memberlist{
    
    /* Head */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 24px;
gap: 10px;

width: 480px;
height: 56px;

/* Gray / gray-5

Border
*/
border-bottom: 1px solid #D9D9D9;



}
.header-text{
    /* Edit Member */

width: 448px;
height: 24px;

/* Semibold/16px | 24px */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Gray / gray-9 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}
.div-body-memberlist{
    /* First Name : */

display:flex;
justify-content: center;

/* Regular/14px | 22px */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 157% */
padding:10px;
gap:70px;
/* Gray / gray-9 */
color: #262626;


/* Inside auto layout */


}
.label-wrapper{
    width:800px;
    display:flex;
    align-items: space-between;
    gap:60px;
    padding-top:3px;
}
.bottom-label-memberlist{
   
    padding-bottom:20px;
}
.upload{
    padding-left:14px;
   padding-top:2px;
    justify-content: center;
  
}
.save-button{
    /* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
vertical-align: center;

border:none;

width: 67px;
height: 40px;
margin-top:7px;
background: #13C2C2;
border-radius: 2px;

/* Button */

/* Regular/16px | 24px */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;

/* identical to box height, or 150% */

/* Gray / gray-1 */
color: #FFFFFF;



}
.upload-button-memberlist{
    /* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
vertical-align: center;

border:none;

width: 67px;
height: 40px;
margin-top:7px;
background: #13C2C2;
border-radius: 2px;
justify-content: center;
/* Button */

/* Regular/16px | 24px */
font-family: 'Roboto';
font-style: normal;

font-size: 16px;

color: #FFFFFF;




}
.cancel-button-memberlist{
    /* Button */

box-sizing: border-box;
margin-top:7px;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 81px;
height: 40px;
color: #13C2C2;
/* Gray / gray-1 */
background: #FFFFFF;
/* Gray / gray-5

Border
*/

border: 1px solid  #13C2C2;
border-radius: 2px;
/* Regular/16px | 24px */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;

/* identical to box height, or 150% */

/* Gray / gray-1 */


}
.cancel-button-memberlist:hover{
    background-color: rgb(86, 88, 88);
    border-color: rgb(86, 88, 88);
    color: #FFFFFF;
}
.upload-button-memberlist:hover{
    background-color:#056d6d;
    color: #FFFFFF;
}
.body-text{
    /* Option */
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 12px 12px 12px 16px;
gap: 10px;
width: 285px;
height: 31px;
/* Neutrals/White */
background: #FFFFFF;
/* Neutrals/400 ⦿ */
border: 2px solid #CBD2E0;
border-radius: 6px;
}
.body-select{
    /* Option */
box-sizing: border-box;
/* Auto layout */
display: block;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding-left: 8px;
color:  #64676d;
width: 285px;
height: 30px;
/* Neutrals/White */
background: #FFFFFF;
/* Neutrals/400 ⦿ */
border: 2px solid #CBD2E0;
border-radius: 6px;
font-weight: 400;
}




/*temp styling */
.email-box{
 margin-left:-21px;
}
.role-box{
margin-left:40px;
}
.group-box{
margin-left:29px;
}
.file{
   

    /* Choose File Field */



/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
justify-content:center;
padding: 3px 8px;
gap: 3px;

width: 200px;
height: 31px;

background: #FFFFFF;
border: 2px solid #CBD2E0;
border-radius: 6px;
color:#64676d


}
